.header-area {
  border-bottom: 1px solid #eee;
  background: #fcfcfc;
}
.header-area .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.navbar-nav a,
.login-reg a {
  text-decoration: none;
  color: #24355a;
  font-size: 18px;
  margin: 0 10px;
}
.navbar-nav a.active {
  color: #f7395a;
  font-weight: 700;
}
